@model SfDesk.Models.Recipe

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}
<style>

</style>
<link href="~/assets/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/assets/css/jsgrid-theme.min.css" rel="stylesheet" />
<div id="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card alert">

                <div>
                    <div class="col-sm-1" style="margin-top: 15px; width:10%">
                        <b>
                            select Product:
                        </b>

                    </div>

                    <div class="col-sm-3 " style="padding-bottom:20px">
                        @Html.DropDownListFor(model => model.R_ID, new SelectList(new SfDesk.Models.Product().Product_Get_All(), "P_ID", "P_Name"),"", new { @class = "form-control", @id = "Pid" })
                    </div>

                </div>




                <div class="jsgrid-table-panel">
                    <div id="jsGrid" class="table table-striped table-bordered dataTable no-footer"></div>
                </div>
                <br />

                @*<div id="tax" style="float:right">
                    <table border="1" style="table-layout: fixed; width: 20%;float:right">
                        <tr>
                            <td style="width: auto"><input type="text" class="taxVal" id="t1" style="width:120px" /></td>
                            <td style="width: auto" id="t11">123</td>
                        </tr>
                        <tr>
                            <td style="width: auto"><input type="text" class="taxVal" id="t2" style="width:120px" />

                            <td style="width: auto" id="t22">123</td>
                        </tr>
                        <tr>
                            <td style="width: auto"><input type="text" class="taxVal" id="t3" style="width:120px" /></td>
                            <td style="width: auto" id="t33">123</td>
                        </tr>
                        <tr>
                            <td style="width: auto"><b>Total</b></td>
                            <td style="width: auto" id="total">123</td>
                        </tr>

                    </table>
                </div>*@
            </div>
            <!-- /# card -->
        </div>
        <!-- /# column -->
    </div>
</div>


@section scripts{

    <script src="~/assets/js/jsgrid.min.js"></script>
    <script src="~/assets/js/db.js"></script>
    <script>


        var arr = [];
    var unit = "";
    var ma = [{ "ID": 0, "Name": "", "Type": "", "E_ID": "" }]
    $(document).ready(function () {
        console.log(arr);
         $("#Pid").on("change",function(){

            $.ajax({
                type: "GET",
                url: "Index",
                data: { pid: $(this).val() },
                dataType: "json",
                success: function (d) {
                    
                    if (d.ID != 0)
                        arr=d
                    my()
                }
            });


        });
     

         $.ajax({
            type: "GET",
            url: "/material/Material_GET_ALL",
            dataType: "json",
            success: function (d) {

                ma = d;
                $.ajax({
                    type: "GET",
                    url: "/contractor/Contractor_GET_ALL",
                    dataType: "json",
                    success: function (d) {

                        $.each(d, function (i,v) {
                            ma.push(v);
                        })




                    }
                });
                my();

            }
         });
     

    });
    function loadData() {
                
            $.ajax({
                type: "GET",
                url: "Index",
                data: { pid: $("#Pid").val() },
                dataType: "json",
                success: function (d) {

                    if (d.ID != 0)
                        arr = d
                    my()
                }
            });


     
    }
    function my()
    {
      
        $("#jsGrid").jsGrid({
          
            height: "auto",
            width: "100%",
            filtering: false,
            editing: true,
            inserting: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 5,
            deleteConfirm: "Do you rete the client?",
            controller: db,

            pagerContainer: null,
            pageIndex: 1,
            pageSize: 20,
            data: arr,
            pageButtonCount: 15,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
          
           onItemInserted: function (args) {
               
               jQuery("#jsGrid").jsGrid("destroy");
               loadData();
                   
              
            },
          
            onItemInserting: function (args) {
                
                var a = $("#Pid").val();
                args.item["P_ID"] = a;
               
                
                $("#grid").jsGrid("insertItem", args.item);
            },
            invalidMessage: "Invalid data entered!",
           
            fields: [

             {
                 name: "Type", title: "@Html.DisplayNameFor(m=>m.Type)",
                 type: "select",
                 items: [{ "name": "" }, { "name": "Material" }, { "name": "Contractor" }, { "name": "Pakaging Material" }],
                 valueField: "name", textField: "name",
                 insertcss: "department-insert",
                 editing: false,
                 insertTemplate: function () {
                     var teamField = this._grid.fields[1];
                     var $insertControl = jsGrid.fields.select.prototype.insertTemplate.call(this);

                     $insertControl.on("change", function () {
                         var selectedDepartment = $(this).find('option:selected').text();
                         var uri = "";
                         if (selectedDepartment != "Contractor")
                         {
                             uri = "/material/Material_get_by_type";
                         }
                        else
                         {
                             uri = "/Contractor/Contractor_get_All";
                         }
                         $.ajax({
                             type: "GET",
                             url: uri,
                             dataType: "json",
                             data: { m: selectedDepartment },
                             success: function (d) {

                                 var departmentTeam = d;
                                 departmentTeam.splice(0, 0, [{ "ID": 0, "Name": "", "Type": "" }])
                                 teamField.items = departmentTeam;
                                 var a = $(".abc")
                                 $(".abc").empty().append(teamField.insertTemplate())

                             }
                         });
                     });

                     return $insertControl;
                 },
     
             },
 

            {
                name: "@Html.DisplayNameFor(x=> x.E_ID)",
                title: "@Html.DisplayNameFor(x=> x.Name)",
                type: "select",
                items: ma,
                valueField: "E_ID", textField: "Name",
                insertcss: "abc",
                editing: false,
              
                insertTemplate: function () {
                    var UnitFields = this._grid.fields[2];
                    var $insertControl = jsGrid.fields.select.prototype.insertTemplate.call(this);

                    var m = this._grid.fields[1].items;
                    $insertControl.on("change", function () {
                       

                        var $u = jsGrid.fields.text.prototype.insertTemplate.call(UnitFields);
                        var selectedDepartment = $(this).prop('selectedIndex')
                        unit = (m[selectedDepartment].Unit);
                        $u.val(unit)//val(unit);
                        $u.text(unit)//val(unit);
                        var a = $(".unit").empty();

                        $(".unit").append($u);
                        a = $(".unit")

                    });
                    return $insertControl;
                },

            },

           
            {
                name: "Unit",
                title: "@Html.DisplayNameFor(m=>m.Unit)",
                type: "text", width: 80,
                validate: "required",
                insertcss: "unit",
                editing: false,
                    
            },
            { name: "Quantity", title: "@Html.DisplayNameFor(m=>m.Quantity)", type: "text", width: 80, validate: "required" },
             {
                 name: "P_ID",
                 title: "",
                 type: "text",
                 visible: false


             },
              {
                  name: "@Html.DisplayNameFor(x=> x.R_ID)",
                  title: "@Html.DisplayNameFor(x=> x.R_ID)",
                  type: "text",
                  editing: false,
                  visible: false,

              },
                { type: "control" }
            ]
        });
      

    }
     

    </script>

}