@model SfDesk.Models.Transporter
@{
    Layout = "";
}
@using (Html.BeginForm("Add", "Transporter", FormMethod.Post, htmlAttributes: new { @id = "f2" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transporter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.T_ID, new { @class = "form-control" } )


        <div class="form-group">
            @Html.LabelFor(model => model.Trading_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Trading_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trading_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NTN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NTN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NTN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STRN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.STRN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STRN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Contact_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SfDesk.Models.ChartOfAccount> lst = new SfDesk.Models.ChartOfAccount().COA_Get_All();
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Exp_Acc_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Exp_Acc_ID, new SelectList(lst, "COA_ID", "COA_Name"), "select type", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Exp_Acc_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pay_Acc_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Pay_Acc_ID, new SelectList(lst, "COA_ID", "COA_Name"), "select type", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pay_Acc_ID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Create" id="done" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="nephew"></div>
            }



        <script>
            function detail() {
                ;
                $.get('@Url.Action("Add_Vehicle", "Transporter")' + '?id=' + $('#T_ID').val(), function (data) { $("#nephew").html(data); });


            };
            $(document).ready(function () {
                ;
                detail();
        
            });
        </script>
    

