@model SfDesk.Models.Transporter
@{
    Layout = "";
}
@using (Html.BeginForm("Update", "Transporter", FormMethod.Post, htmlAttributes: new { @id = "f2" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transporter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.T_ID, new { @class = "form-control" } )


        <div class="form-group">
            @Html.LabelFor(model => model.Trading_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Trading_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trading_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NTN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NTN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NTN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STRN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.STRN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STRN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Contact_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            //List<SfDesk.Models.ChartOfAccount> lst = new SfDesk.Models.ChartOfAccount().COA_Get_All();
            List<SfDesk.Models.ChartOfAccount> lst = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];

        }
        <div class="form-group">
            @Html.LabelFor(model => model.Exp_Acc_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.HiddenFor(Model => Model.Exp_Acc_ID)
                <input type="text" name="Exp_Acc_Name" list="Exp_Acc_List" id="Exp_Acc_Name" class="form-control text-box">
                <datalist id="Exp_Acc_List" class="control-label col-md-4">

                    @foreach (var item in lst)
                    {
                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name"></option>
                    }
                </datalist> @Html.ValidationMessageFor(model => model.Exp_Acc_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pay_Acc_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.HiddenFor(Model => Model.Pay_Acc_ID)
                <input type="text" name="Pay_Acc_Name" list="Pay_Acc_List" id="Pay_Acc_Name" class="form-control text-box">
                <datalist id="Pay_Acc_List" class="control-label col-md-4">

                    @foreach (var item in lst)
                    {
                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name"></option>
                    }
                </datalist> @Html.ValidationMessageFor(model => model.Exp_Acc_ID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Create" id="done" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="nephew"></div>
            }


<script src="~/assets/js/TypableDropdown.js"></script>

<script>

        DropDown_Fill("Exp_Acc");
    Typable_Dropdown('Exp_Acc');

    DropDown_Fill("Pay_Acc");
    Typable_Dropdown('Pay_Acc');
            function detail() {
                ;
                $.get('@Url.Action("Add_Vehicle", "Transporter")' + '?id=' + $('#T_ID').val(), function (data) { $("#nephew").html(data); });


            };
            $(document).ready(function () {
                ;
                detail();

            });
</script>
    

