@model SfDesk.Models.PO
@{
    Layout = "~/Views/Shared/_dashLayout.cshtml";
    ViewBag.Title = "PO Selection";
}
<link href="~/Content/chosen.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="card alert">

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Purchase Order</h4>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Select Categories", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Item_Categories, new SelectList(new SfDesk.Models.Item_Category().Purchase_Item_Category_Get_All(SfDesk.Models.App.App_ID),"Cat_ID", "Cat_Name"), new { @class = "form-control chosen-select", @multiple = "true" })
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                            @Html.DisplayName("PI No")
                                        </th>
                                        <th>
                                            @Html.DisplayName("PI Date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Item")
                                        </th>
                                        <th>
                                            @Html.DisplayName("PI QTY")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Description")
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="PO_Detail_tbl"></tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-rounded m-b-10 m-l-5">
                                SAVE
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>


@section scripts
{
    <script src="~/Scripts/chosen.jquery.js"></script>

    <script>
        $('.chosen-select').chosen();
        var arr = []
        $('#Item_Categories').change(function () {
            var selectedValues = $(this).val();
            debugger;
            var items = []

            $(selectedValues).each(function (i, item) {
                //opt.Cat_ID= $(this).val();
                var opt = {}
                opt['Cat_ID'] = parseInt(item);
                items.push(opt)
            });
            things = JSON.stringify({ 'Cat_ID': items });


            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/PurchaseOrder/Get_PO_Detail',
                data: things,
                success: function (details) {
                    var tbl = $('#PO_Detail_tbl');
                    debugger;
                    tbl.html("");
                    $.each(details, function (index, item) {
                        var nowDate = new Date(parseInt(item.PI_Date.substr(6)));
                        nowDate = $.datepicker.formatDate('dd-MM-yy', nowDate)
                        var a = "<tr>" +
                            "<td>" +
                            "<input type='hidden'  id='details[" + index + "].PI_ID' name='details[" + index + "].PI_ID' value='" + item.PI_ID + "' />" +
                            "<input type='hidden'  id='details[" + index + "].Item_ID' name='details[" + index + "].Item_ID' value='" + item.Item_ID + "' />" +
                            "<input  type='checkbox' id='details[" + index + "].is_Selected' name='details[" + index + "].is_Selected' value='true'/> " +
                             "<input type='hidden' value='false'  name='details[" + index + "].is_Selected' /> </td>" +
                        "<td>" +
                            "<input type='hidden'  id='details[" + index + "].PI_NO' name='details[" + index + "].PI_NO' value='" + item.PI_NO + "' />" +
                            item.PI_NO +
                        "</td> <td>" +
                            "<input type='hidden'  id='details[" + index + "].PI_Date' name='details[" + index + "].PI_Date' value='" + item.PI_Date + "' />" +
                       nowDate +
                        "</td> <td>" +
                            "<input type='hidden'  id='details[" + index + "].Item_Name' name='details[" + index + "].Item_Name' value='" + item.Item_Name + "' />" +
                        item.Item_Name +
                        "</td> <td>" +
                            "<input type='hidden'  id='details[" + index + "].PI_Qty' name='details[" + index + "].PI_Qty' value='" + item.PI_Qty + "' />" +
                        item.PI_Qty +
                        "</td> <td>" +
                        "<input type='hidden'  id='details[" + index + "].PO_Description' name='details[" + index + "].PO_Description' value='" + item.PO_Description + "' />" +
                        item.PO_Description +
                        "</td>" +
                        "<td> </td>"
                            + "</tr>"
                        tbl.append(a);
                    });
                }
            });

        })

    </script>
}