@model IEnumerable<SfDesk.Models.User_Role>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.U_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> 

            @Html.DisplayFor(modelItem => item.U_ID)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.R_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Name)
        </td>
        <td>
            <button type="button" class="btn mini btn-info" onclick="Edit(@item.UR_ID)" })'"><i class="ti-pencil"></i> </button>
            <button type="button" class="btn mini btn-danger" onclick="ConfirmDelete(@item.UR_ID)" })'"><i class="ti-trash"></i> </button>
 </td>
    </tr>
}

</table>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>

</div>

    <script>
        function Edit(id) {
            $.get('@Url.Action("Edit_User_Role", "user")', { id: id }, function (data) { $("#myModalContent").html(data); });

            $('#myModal').modal('show');
        };
        function ConfirmDelete(id){
            swal({
                title: "Are you sure to delete ?",
                text: "You will not be able to recover this imaginary file !!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it !!",
                closeOnConfirm: false
            },
                function () {
                    $.get('@Url.Action("Delete_User_Role", "user")', { id: id }, function () { document.location = '/user/index'; })
                    swal("Deleted !!", "Hey, your User has been deleted !!", "success");
                    detail();
                });

       };

    </script>
