@model SfDesk.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = null; //"~/Views/Shared/_dashLayout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="user-photo m-b-30">
                                <img class="img-responsive" src="assets/images/user-profile.jpg" alt="" />
                            </div>
                            <div class="user-work">
                                <h4>work</h4>
                                <div class="work-content">
                                    <h3>Company: @Html.DisplayFor(model => model.Company_Name) </h3>
                                    <p>@Html.DisplayFor(model => model.Country)</p>
                                    <p>@Html.DisplayFor(model => model.Province)</p>
                                </div>
                            </div>
                            <div class="user-skill">
                                <h4>Numbers</h4>
                                <ul>
                                    <li>
                                        <span class="Number-title">STRN Number:  </span>
                                        <span>
                                            @Html.DisplayFor(model => model.STRN)
                                        </span>
                                    </li>
                                    <li>
                                        <span class="Number-title">STRN date:  </span>
                                        <span>
                                            @Html.DisplayFor(model => model.STRN_Date)
                                        </span>
                                    </li>
                                    <li>
                                        <span class="Number-title">CUIN Number:  </span>
                                        <span>
                                            @Html.DisplayFor(model => model.CUIN)
                                        </span>
                                    </li>
                                    <li>
                                        <span class="Number-title">NTN Number:  </span>
                                        <span>
                                            @Html.DisplayFor(model => model.NTN)
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="user-profile-name">
                                @Html.DisplayFor(model => model.Company_Name)
                            </div>
                            <div class="user-Location">
                                <i class="ti-location-pin"></i>
                                @Html.DisplayFor(model => model.Area)
                            </div>
                            <div class="user-job-title"></div>

                            <div class="user-send-message"><button class="btn btn-primary btn-addon" type="button"><i class="ti-email"></i>Send Message</button></div>
                            <div class="custom-tab user-profile-tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">About</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="1">
                                        <div class="contact-information">
                                            <h4>Contact information</h4>
                                            <div class="phone-content">
                                                <span class="contact-title">Phone:</span>
                                                <span class="phone-number">
                                                    @Html.DisplayFor(model => model.Phone_No)
                                                </span>


                                            </div>
                                            <div class="phone-content">
                                                <span class="contact-title">Phone2:</span>
                                                <span class="phone-number">
                                                    @Html.DisplayFor(model => model.Contact)
                                                </span>

                                            </div>
                                            <div class="address-content">
                                                <span class="contact-title">Address1:</span>
                                                <span class="mail-address">
                                                    @Html.DisplayFor(model => model.Address1)
                                            </span>
                                        </div>
                                        <div class="address-content">
                                            <span class="contact-title">Address2:</span>
                                            <span class="mail-address">
                                                @Html.DisplayFor(model => model.Address2)
                                            </span>
                                        </div>
                                        <div class="email-content">
                                            <span class="contact-title">Email:</span>
                                            <span class="contact-email">
                                                @Html.DisplayFor(model => model.Email)
                                            </span>
                                        </div>
                                        <div class="website-content">
                                            <span class="contact-title">Website:</span>
                                            <span class="contact-website">@Html.DisplayFor(model => model.Website)</span>
                                        </div>

                                    </div>
                                    <div class="basic-information">
                                        <h4>Basic information</h4>
                                        <div class="birthday-content">
                                            <span class="contact-title">Business start Date:</span>
                                            <span class="birth-date">@Html.DisplayFor(model => model.Business_Start_Date) </span>
                                        </div>
                                        <div class="birthday-content">
                                            <span class="contact-title">Book start Date:</span>
                                            <span class="birth-date">@Html.DisplayFor(model => model.Book_Start_Date) </span>
                                        </div>
                                        <div class="birthday-content">
                                            <span class="contact-title">Year Ends:</span>
                                            <span class="birth-date">@Html.DisplayFor(model => model.Year_Ends) </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

