@model SfDesk.Models.GDN

@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<div class="card alert">
    <div class="card-header">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>GDN</h4>
                    <hr />
                    <input hidden="hidden" name="SO_ID" id="SO_ID" value="@Model.SO_ID" />
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.GDN_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.GDN_NO, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @readonly="readonly"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.GDN_NO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Customer_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Customer_ID)
                                <input type="text" name="Customer_Name" list="Customer_List" id="Customer_Name" class="form-control text-box">
                                <datalist id="Customer_List">

                                    @foreach (var item in ViewBag.Customers)
                                    {
                                        <option id="@item.Customer_ID" data-id="@item.Customer_ID" value="@item.Business_Name"></option>
                                    }
                                </datalist>

                                @Html.ValidationMessageFor(model => model.Customer_ID, "", new { @class = "text-danger" })
                            </div>

                        </div>

                     
                        <div class="form-group">
                            @Html.LabelFor(model => model.Store_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Store_ID)
                                <input type="text" name="Store_Name" list="Store_List" id="Store_Name" class="form-control text-box">
                                <datalist id="Store_List">
                                  

                                    @foreach (var item in ViewBag.Stores)
                                    {
                                        <option id="@item.Store_ID" data-id="@item.Store_ID" value="@item.Store_Name"></option>
                                    }
                                </datalist>

                                @Html.ValidationMessageFor(model => model.Store_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" style="display:none">
                                <button type="button" class="btn mini btn-primary" onclick="AddSM()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Currency_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Currency_ID)
                                <input type="text" name="Currency_Name" list="Currency_List" id="Currency_Name" class="form-control text-box">
                                <datalist id="Currency_List">
                                    @foreach (var item in ViewBag.Currency)
                                    {
                                        <option id="@item.C_ID" data-id="@item.C_ID" value="@item.C_Name"></option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Currency_ID, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group ">
                            @Html.LabelFor(model => model.Branch_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">

                                @Html.HiddenFor(Model => Model.Branch_ID)
                                <input type="text" name="Branch_Name" list="Branch_List" id="Branch_Name" class="form-control text-box">
                                <datalist id="Branch_List">

                                    @foreach (var item in ViewBag.Branch)
                                    {
                                        <option id="@item.B_ID" data-id="@item.B_ID" value="@item.B_Name"></option>
                                    }
                                </datalist>

                                @Html.ValidationMessageFor(model => model.Branch_ID, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6" style="text-align:right">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "AD", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                 
                        <div class="form-group">
                            @Html.LabelFor(model => model.Img_Path, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Img_Path, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @type = "file",
                                   @accept = ".jpg,.jpeg,.png",
                                   @onclick = "ValidateSize(this);"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.Img_Path, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Transporter_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Transporter_ID)
                                <input type="text" name="Transporter_Name" list="Transporter_List" id="Transporter_Name" class="form-control text-box">
                                <datalist id="Transporter_List">
                                    @foreach (var item in ViewBag.Transporter)
                                    {
                                        <option id="@item.T_ID" data-id="@item.T_ID" value="@item.Trading_Name"></option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Transporter_ID, "", new { @class = "text-danger" })
                            </div>

                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Vehicle_ID, new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" @*style="display:none"*@>
                                <button type="button" class="btn mini btn-primary" onclick="AddVehicle()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group  ">
                            @Html.LabelFor(model => model.ShippingAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShippingAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  ">
                            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                


                    <div id="child"></div>

                  
                    <br />

                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <input type="button" value="Save and Exit" class="btn btn-default" id="create" />
                                <input type="button" value="Approved and Exit" class="btn btn-default" id="approve" />
                                <input type="button" value="Cancel" class="btn btn-default" id="cancel" />
                                <input type="button" value="Reject" class="btn btn-default" id="reject" />
                            </div>
                        </div>


                    </div>
                </div>

                                        }

        </div>
    </div>
</div>

@section scripts
{

    <script src="~/assets/js/jsgrid.min.js"></script>
    <script src="~/assets/js/TypableDropdown.js"></script>
    <script src="~/assets/js/db.js">
    </script>
    <script>
        DropDown_Fill("Customer");
        Typable_Dropdown('Customer');
        DropDown_Fill("Currency");
        Typable_Dropdown('Currency');
        DropDown_Fill("Branch");
        Typable_Dropdown('Branch');
        DropDown_Fill("Transporter");
        Typable_Dropdown('Transporter');
        $(document).ready(function () {

            $.get('@Url.Action("detail", "gdn")', function (data) { $("#child").html(data); });

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = mm + '/' + dd + '/' + yyyy;
            $('#AD').val(today);
            populate();
            $('#Transporter_Name').on("change", populate);
        });
        $('#myModal').on("hidden.bs.modal", function () {
            $("#myModalContent").html("")
        });
        function populate() {
            debugger;
            var value = $('#Transporter_Name').val();
            var name = "#Transporter_List";
            name = name + " option[value='" + value + "']";
            value = $(name).data('id');
            $('#Transporter_ID').val(value);
            id = $('#Transporter_ID').val()

            $.ajax({
                url: '/GDN/Vehicle_Get_By_ID',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {
                    debugger;
                    var ddlState = $('#Vehicle_ID');
                    ddlState.empty();
                    $("#Vehicle_ID").prepend("<option value='' ></option>");// Clear the please wait
                    $.each(d, function (i, states) {

                        if ($('#Vehicle_ID').val() == states.V_ID) {

                            ddlState.append($("<option selected='selected'></option>").val(states.V_ID).html(states.Vehicle_Type));
                        }
                        else {
                            ddlState.append($("<option></option>").val(states.V_ID).html(states.Vehicle_Type));
                        }
                    });
                }
            });
        }

    $("#create").click(function (e) {
            e.preventDefault();

            var data = {};

            $('form').serializeArray().map(function (x) { data[x.name] = x.value; });
            debugger
            data = arr;
            data.Total = grand_total;

            $.ajax({
                url: '@Url.Action("master", "GDN")',
                type: 'Post',
                dataType: 'json',
                data: {
                    c: data
                },
                success: function (data) {
                    window.location.href = '@Url.Action("ShowAll", "SaleOrder")';
                }

            });
        });



    </script>
}