@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<h2>Create</h2>
@model SfDesk.Models.RoleDetails

@Html.BeginForm()
{
<div class="form-group">
    @Html.LabelFor(model => model.R_ID, htmlAttributes: new { @class = "control-label col-sm-3" })
    <div class="col-sm-3">
        <select class="form-control" data-val="true" data-val-number="The field Company must be a number." data-val-required="The Company field is required." id="UserRoleID" name="UserRoleID">
            <option></option>
        </select>
         @Html.DropDownListFor(model => model.R_ID, new SelectList(new SfDesk.Models.Role().Role_Get_By_Company(ViewBag.id), "R_ID", "R_Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.R_ID, "", new { @class = "text-danger" })
    </div>
</div>
    @for (int i = 0; i < Model.forms.Count; i++)
    {
<input name="forms[@i].Form_ID" id="forms[@i].Form_ID" value="@Model.forms[i].Form_ID" hidden="hidden" />

<label class="form-control">
    @Model.forms[i].Form_Name
</label>
        for (int j = 0; j < Model.forms[i].actions .Count; j++)
        {
<input name="forms[@i].actions[@j].Action_ID" value="@Model.forms[i].actions[j].Action_ID" hidden="hidden" />

<label name="forms[i].actions[j].Action_Name">
    @Model.forms[i].actions[j].Action_Name
</label>
            //<input name="forms[@i].actions[@j].isSelected" value="@Model.forms[i].actions[j].isSelected" type="checkbox" />
            @Html.EditorFor(model=>model.forms[i].actions[j].isSelected)
        }
    }
<input type="submit" ... />
}

