
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

@model SfDesk.Models.RoleDetails
<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
           
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Add Role Rights</h4>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Select Company", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model=>model.Company_Code, new SelectList(new SfDesk.Models.Company().Company_Get_All(), "Company_ID", "Company_Name"), new { @class = "form-control", @id = "CompanyCode", @name = "CompanyCode" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Select Role", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-md-3">
                            <select data-val="true" class="form-control" data-val-number="The field Company must be a number." data-val-required="The Company field is required." id="R_ID" name="R_ID">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table  class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Form")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Actions")
                                        </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                @for (int k = 0; k < Model.modules.Count; k++)
                                {
                                   <tr>
                                       <td>@Model.modules[k].Module_Name</td>
                                   </tr>
                                    for (int i = 0; i < Model.modules[k].forms.Count; i++)
                                    {

                                        <tr>

                                            <td>
                                                <input name="forms[@i].Form_ID" id="forms[@i].Form_ID" value="@Model.modules[k].forms[i].Form_ID" hidden="hidden" />
                                                <label class="control-label col-md-4" style="padding-right:70px">
                                                    @Model.modules[k].forms[i].Form_Name
                                                </label>
                                            </td>

                                            @for (int j = 0; j < Model.modules[k].forms[i].actions.Count; j++)
                                            {
                                                <td>
                                                    <input name="forms[@i].actions[@j].Action_ID" value="@Model.modules[k].forms[i].actions[j].Action_ID" hidden="hidden" />
                                                    <label name="forms[i].actions[j].Action_Name" class="control-label" style="padding-right:5px">
                                                        @Model.modules[k].forms[i].actions[j].Action_Name
                                                    </label>
                                                    @Html.EditorFor(model => model.modules[k].forms[i].actions[j].isSelected)
                                                </td>
                                            }
                                        </tr>
                                    }
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-rounded m-b-10 m-l-5">
                                Add Role Rights
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>


@section scripts
{
    <script>

        $(document).ready(function () {
            $("#CompanyCode").prepend("<option value='' selected='selected'></option>");
        

        })
        $('#CompanyCode').on("change", function () {
            var id = parseInt($(this).val());
            var ddlState = $('#R_ID');
            $.ajax({
                url: '/user/Role_Get_By_Company',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {

                    ddlState.empty(); $("#R_ID").prepend("<option value='' selected='selected'></option>");// Clear the please wait
                    $.each(d, function (i, states) {
                     
                        ddlState.append($("<option></option>").val(states.R_ID).html(states.Name));
                    });
                },
                error: function () {
                    alert('Error!');
                },
            });

        })
        $('#R_ID').on("change", function () {
            var id = parseInt($(this).val());
            var ddlState = $('#R_ID');
            $.ajax({
                url: '/Role/Update_Role_ID',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {
                    
                    $("table").load(location.href+" table");
                    //$('.bootstrap-data-table-panel').reload();
                    //location.reload();
                  
                },
                error: function () {
                    
                    alert('Error!');
                }
            });

        })
    </script>
}
