
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

@model SfDesk.Models.RoleDetails
<div class="card alert">
    <div class="card-header">
        
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Add Role Details</h4>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Select Company", htmlAttributes: new { @class = "control-label col-md-4", style = "padding-right:70px" })
                        <div class="col-md-3">
                            @Html.DropDownList("Company_Code", new SelectList(new SfDesk.Models.Company().Company_Get_All(), "Company_ID", "Company_Name"), new { @class = "form-control", @id = "CompanyCode", @name = "CompanyCode" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Select Role", htmlAttributes: new { @class = "control-label col-md-4" , style = "padding-right:70px" })
                        <div class="col-md-3">
                            <select data-val="true" class="form-control" data-val-number="The field Company must be a number." data-val-required="The Company field is required." id="R_ID" name="R_ID">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    @for (int i = 0; i < Model.forms.Count; i++)
        {
                    <input name="forms[@i].Form_ID" id="forms[@i].Form_ID" value="@Model.forms[i].Form_ID" hidden="hidden" />
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-right:70px">
                            @Model.forms[i].Form_Name
                        </label>
                        <div class="col-md-6"  >
                            @for (int j = 0; j < Model.forms[i].actions.Count; j++)
                {
                <input name="forms[@i].actions[@j].Action_ID" value="@Model.forms[i].actions[j].Action_ID" hidden="hidden" />
                <span style = "padding-right:20px">
                <label name="forms[i].actions[j].Action_Name" class="control-label" style="padding-right:5px">
                    @Model.forms[i].actions[j].Action_Name
                </label>
                    @Html.EditorFor(model => model.forms[i].actions[j].isSelected )
                                </span>
                }
                        </div>
                    </div>
        }
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-7 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


@section scripts
{
    <script>

        $(document).ready(function () {
            $("#CompanyCode").prepend("<option value='' selected='selected'></option>");
        })
        $('#CompanyCode').on("change", function () {
            var id = parseInt($(this).val());
            var ddlState = $('#R_ID');
            $.ajax({
                url: '/user/Role_Get_By_Company',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {

                    ddlState.empty(); // Clear the please wait
                    $.each(d, function (i, states) {
                        ddlState.append($("<option></option>").val(states.R_ID).html(states.Name));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });

        })
    </script>
}
