@model SfDesk.Models.PR

@{
    ViewBag.Title = "master";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}
<style>
    .form-group {
        padding: 0px;
        margin: 0px;
    }
</style>
<div class="card alert">
    <div class="card-header">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Purchase Requisition</h4>
                    <hr />
                    <input hidden="hidden" name="PR_ID" id="PR_ID" value="@Model.PR_ID" />
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PR_NO, htmlAttributes: new { @class = "control-label col-md-4"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PR_NO, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control", @readonly = "readonly" }
                           })
                                @Html.ValidationMessageFor(model => model.PR_NO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control",@type="Date" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Comment , htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Comment , new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comment , "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div id="child"></div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <input type="button" value="Save and Exit" class="btn btn-default" id="create" />
                                <input type="button" value="Approved and Exit" class="btn btn-default" id="approve" />
                                <input type="button" value="Cancel" class="btn btn-default" id="cancel" />
                                <input type="button" value="Reject" class="btn btn-default" id="reject" />
                            </div>
                        </div>


                    </div>
                </div>

            }


        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog" style="float:right">
        <div class="modal-content col-lg-12" style="float:right;top: 220px;right: 100px; align-content:center">
            <div id='myModalContent'>

            </div>
        </div>
    </div>

</div>
@section scripts
{

    <script src="~/assets/js/jsgrid.min.js"></script>
<script src="~/assets/js/TypableDropdown.js"></script>
    <script src="~/assets/js/db.js"></script>
    <script>
        var details = []
        var Master_Id = 0
      
        $('#cancel').click(function () {
            window.location.href = '/PurchaseRequisition/Showall';
        });
        $('#done').click(function () {
            window.location.href = '@Url.Action("Showall", "PurchaseRequisition")';
        });
        $('#approve').click(function () {
            debugger;
            @*$.post('@Url.Action("Approve", "PurchaseRequisition")', $('form').serialize(), function (data) {
                window.location.href = '@Url.Action("ShowAll", "PurchaseRequisition")';
            })*@
            //$.post(this.action, $(this).serialize(), function (data) {

            //    Master_Id = data;
            //    addDetails()
            //})

            var data = {};
            $('form').serializeArray().map(function (x) { data[x.name] = x.value; });
            data.details = clients;
            debugger
            $.ajax({
                url: '@Url.Action("Approve", "PurchaseRequisition")',
                type: 'Post',
                dataType: 'json',
                data: {
                    p: data, pi: clients, pie: editedClients
                },
                success: function (data) {
                    window.location.href = '@Url.Action("ShowAll", "PurchaseRequisition")';
                }

            });
        });
        $(document).ready(function () {   // Help for the HTML4 version.

            document.getElementById("Date").valueAsDate = new Date();

            if ($('#PR_ID').val() != 0) {
                Master_Id = $('#PR_ID').val();
                debugger;
                //loadData();
            }
            detail();
        });
     
        $("#create").click(function (e) {
            e.preventDefault();
            //$.post(this.action, $(this).serialize(), function (data) {

            //    Master_Id = data;
            //    addDetails()
            //})
            var data = {};
            $('form').serializeArray().map(function (x) { data[x.name] = x.value; });
            debugger
            data.details = clients;
            $.ajax({
                url: '@Url.Action("master", "PurchaseRequisition")',
                type: 'Post',
                dataType: 'json',
                data: {
                    c: data, pi: clients, pie: editedClients
                },
                success: function (data) {
                    window.location.href = '@Url.Action("ShowAll", "PurchaseRequisition")';
                }

            });
        });


        /*ye master ka he*/
        function detail() {

            $.get('@Url.Action("detail", "PurchaseRequisition")', function (data) { $("#child").html(data); });
            $("#done").hide()
            debugger;

        };
        function AddSupplier() {
            $.get('@Url.Action("AddPartial", "Vendor")', function (data) { $("#myModalContent").html(data); });
            $('#myModal').modal('show');

        };
        function AddTrans() {
            $.get('@Url.Action("Add", "Transporter")', function (data) { $("#myModalContent").html(data); });
            $('#myModal').modal('show');

        };
        function AddVehicle() {
            var id = $('#Transporter_ID').val();
            if (id != 0) {
                $.get('@Url.Action("Add_Vehicle", "Transporter")' + '?id=' + id, function (data) { $("#myModalContent").html(data); });
                $('#myModal').modal('show');
            }
        };

        var id = 0;
        function populate() {
            id = $('#Transporter_ID').val()

            $.ajax({
                url: '/PurchaseInventory/Vehcile_Get_By_Transporter',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {

                    var ddlState = $('#Vehicle_ID');
                    ddlState.empty();
                    $("#Vehicle_ID").prepend("<option value='' selected='selected'></option>");// Clear the please wait
                    $.each(d, function (i, states) {

                        ddlState.append($("<option></option>").val(states.V_ID).html(states.Vehicle_Type));
                    });
                }
            });
        }
        $('#Transporter_ID').on("change", populate);

    </script>
}