@model SfDesk.Models.PurchaseInventory

@{
    ViewBag.Title = "master";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<style>
    .form-group {
        padding: 0px;
        margin: 0px;
    }
</style>
<div class="card alert">
    <div class="card-header">
        <div class="card-body">
            @using (Html.BeginForm("master", "purchaseinventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Purchase</h4>
                    <hr />
                    <input hidden="hidden" name="PI_ID" id="PI_ID" value="@Model.PI_ID" />
                    <input hidden="hidden" name="V_ID" id="V_ID" value="@Model.Vehicle_ID" />
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PR_No, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PR_No, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @readonly = "readonly"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.PR_No, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PO_No, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PO_No, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @readonly = "readonly"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.PO_No, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Invoice_No, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Invoice_No, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control"@*, @readonly = "readonly"*@ }
                           })
                                @Html.ValidationMessageFor(model => model.Invoice_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(Model => Model.Department_ID)
                            @Html.LabelFor(model => model.Department_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            @{
                                var Depart_list = new SfDesk.Models.Department().Department_Get_All();
                            }
                            <div class="col-md-5">
                                <input type="text" name="Department_Name" list="Department_List" id="Department_Name" class="form-control text-box">
                                <datalist id="Department_List">

                                    @foreach (var item in Depart_list)
                                    {
                                        <option id="@item.D_ID" data-id="@item.D_ID" value="@item.D_Name"></option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Department_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(Model => Model.Purchase_Type_ID)
                            @Html.LabelFor(model => model.Purchase_Type_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            @{
                                var list = new SfDesk.Models.Purchase_Type().Purchase_Type_Get_All();
                            }
                            <div class="col-md-5">
                                <input type="text" name="Purchase_Type_Name" list="Purchase_Type_List" id="Purchase_Type_Name" class="form-control text-box">
                                <datalist id="Purchase_Type_List">

                                    @foreach (var item in list)
                                    {
                                        <option id="@item.PT_ID" data-id="@item.PT_ID" value="@item.PT_Name"></option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Purchase_Type_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(Model => Model.Account_Payable_ID)
                            @Html.LabelFor(model => model.Account_Payable_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <input type="text" name="Account_Payable_Name" list="Account_Payable_List" id="Account_Payable_Name" class="form-control text-box">
                                <datalist id="Account_Payable_List">
                                    @{
                                        List<SfDesk.Models.ChartOfAccount> ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 20);
                                    }
                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Account_Payable_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Purchase_Account_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Purchase_Account_ID)
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Purchase_Account_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Suplier_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Suplier_ID)
                                <input type="text" name="Suplier_Name" list="Suplier_List" id="Suplier_Name" class="form-control text-box">
                                <datalist id="Suplier_List">
                                    @{
                                        var Supplier_List = new SfDesk.Models.Vendor().Vendor_Get_All();
                                    }

                                    @foreach (var item in Supplier_List)
                                    {
                                        <option id="@item.Vendor_ID" data-id="@item.Vendor_ID" value="@item.Business_Name"></option>
                                    }
                                </datalist>

                                @Html.ValidationMessageFor(model => model.Suplier_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn mini btn-primary" onclick="AddSupplier()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <div class="form-group">
                            @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.Editor("AutoDate", new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <input id="Date" name="Date" type="text" class="form-control tbDate" />
                                 @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text -danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Due_Date, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <input id="Due_Date" name="Due_Date" type="text" class="form-control tbDate" />
                                @Html.ValidationMessageFor(model => model.Due_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Transporter_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Transporter_ID)
                                <input type="text" name="Transporter_Name" list="Transporter_List" id="Transporter_Name" class="form-control text-box">
                                <datalist id="Transporter_List">
                                    @{
                                        var Transporter_List = new SfDesk.Models.Transporter().Transporter_Get_All();
                                    }

                                    @foreach (var item in Transporter_List)
                                    {
                                        <option id="@item.T_ID" data-id="@item.T_ID" value="@item.Trading_Name"></option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Transporter_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn mini btn-primary" onclick="AddTrans()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Vehicle_ID, new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" @*style="display:none"*@>
                                <button type="button" class="btn mini btn-primary" onclick="AddVehicle()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.Middle_Man_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.HiddenFor(Model => Model.Middle_Man_ID)
                                <input type="text" name="Middle_Man_Name" list="Middle_Man_List" id="Middle_Man_Name" class="form-control text-box">
                                <datalist id="Middle_Man_List">
                                    @{
                                        var Middle_Man_List = new SfDesk.Models.MiddleMan().MiddleMan_Get_All();
                                    }

                                    @foreach (var item in Middle_Man_List)
                                    {
                                        <option id="@item.MM_ID" data-id="@item.MM_ID" value="@item.Trading_Name"></option>
                                    }
                                </datalist>

                                @Html.ValidationMessageFor(model => model.Middle_Man_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" @*style="display:none"*@>
                                <button type="button" class="btn mini btn-primary" onclick="AddMM()" style="margin-top:6px">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div><div class="form-group">
                            @Html.Label("Attachment", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">

                                <input type="file" id="PI_Image" accept=".jpg,.jpeg,.png" onclick='ValidateSize(this);' />


                            </div>

                        </div>
                    </div>

                    <div id="child"></div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <input type="submit" value="Save and Exit" class="btn btn-default" id="create" />
                        </div>
                    </div>
                </div>
                                        }





        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:auto;height:80%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div id='myModalContent'>

            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script src="~/assets/js/TypableDropdown.js"></script>
    <script src="~/assets/js/jsgrid.min.js"></script>
    <script src="~/assets/js/db.js">

    </script>
    <script>
        var myOpts = []
        var mytrans = []
        var Master_Id = 0;
        $("#AutoDate").datepicker({ dateFormat: "dd-mm-yy" }).datepicker("setDate", new Date());
        $('#PI_Image').bind('change', function () {
            //this.files[0].size gets the size of your file.
            var size = this.files[0].size / 1024 / 1024;
            if (size > 1) {
                alert('File size exceeds 2 MB');
                $('#PI_Image').val(null);
            }
        });

       


        $(window).load(function () {

            detail()
            if ($('#PI_ID').val() != 0) {
                debugger;

                DropDown_Fill("Department");
                DropDown_Fill("Purchase_Type");
                DropDown_Fill("Account_Payable");
                DropDown_Fill("Purchase_Account");

                DropDown_Fill("Suplier");
                DropDown_Fill("Transporter");
                DropDown_Fill("Middle_Man");

                Master_Id = $('#PI_ID').val();
            }
        })

        $('#myModal').on("hidden.bs.modal", function () {
            $("#myModalContent").html("")
        });
        $(document).ready(function () {   
            //Date Picker with format dd-mm-yy
            $('input[class$=tbDate]').datepicker({ dateFormat: "dd-mm-yy" })
            $('.tbDate').prop("readonly", true);
            $('.tbDate').val("DD-MM-YY");


            //Customer Js file which makes dropdown typable
            Typable_Dropdown('Department');
            Typable_Dropdown('Purchase_Type');
            Typable_Dropdown('Account_Payable');
            Typable_Dropdown('Purchase_Account');

            Typable_Dropdown('Suplier');
            Typable_Dropdown('Transporter');
            Typable_Dropdown('Middle_Man');

            var g = $('#Transporter_ID').val();
            if (g != null) {
                populate();

            }
        });


        $("form").submit(function (e) {

            e.preventDefault();
            var data = {};
            $(this).serializeArray().map(function (x) { data[x.name] = x.value; });
            data.details = clients;
            data.transactions = myTransaction;
            data.taxes = myTaxes;
            $.ajax({
                url: this.action,
                type: 'Post',
                dataType: 'json',
                data: {
                    c: data,
                },
                success: function (data) {
                    var model = new FormData();
                    var files = $('input[type="file"]')[0].files[0];
                    model.append("file", files);
                    model.append("P_ID", data);
                    debugger;
                    $.ajax({// and other parameter is set here
                        url: '/PurchaseInventory/SaveImage',
                        type: "POST",
                        data: model,
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false

                    })
       .always(function (result) {
       });

                    window.location.href = '@Url.Action("ShowAll", "PurchaseInventory")';
                }

            })
            //$.post(this.action, $(this).serialize(), function (data) {
            //    detail()
            //    ;
            //    Master_Id = data;
            //})

        });


        /*ye master ka he*/
        function detail() {

            $.get('@Url.Action("detail", "PurchaseInventory")', function (data) { $("#child").html(data); });

        };
        function AddSupplier() {
            $.get('@Url.Action("AddPartial", "Vendor")', function (data) { $("#myModalContent").html(data); });
            $('#myModal').modal('show');

        };
        function AddTrans() {
            $.get('@Url.Action("Add", "Transporter")', function (data) { $("#myModalContent").html(data); });
            $('#myModal').modal('show');

        };
        function AddMM() {
            $.get('@Url.Action("Add", "Middleman")', function (data) { $("#myModalContent").html(data); });
            $('#myModal').modal('show');

        };
        function AddVehicle() {
            var id = $('#Transporter_ID').val();
            if (id != 0) {
                $.get('@Url.Action("Add_Vehicle", "Transporter")' + '?id=' + id, function (data) { $("#myModalContent").html(data); });
                $('#myModal').modal('show');
            }
        };

        var id = 0;
        function populate() {
            debugger;
            var value = $('#Transporter_Name').val();
            var name = "#Transporter_List";
            name = name + " option[value='" + value + "']";
            value = $(name).data('id');
            $('#Transporter_ID').val(value);
            id = $('#Transporter_ID').val()

            $.ajax({
                url: '/PurchaseInventory/Vehcile_Get_By_Transporter',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {

                    var ddlState = $('#Vehicle_ID');
                    ddlState.empty();
                    $("#Vehicle_ID").prepend("<option value='' ></option>");// Clear the please wait
                    $.each(d, function (i, states) {
                        if ($('#V_ID').val() == states.V_ID) {
                            ddlState.append($("<option selected='selected'></option>").val(states.V_ID).html(states.Vehicle_Type));
                        }
                        else {
                            ddlState.append($("<option></option>").val(states.V_ID).html(states.Vehicle_Type));
                        }
                    });
                }
            });
        }
        $('#Transporter_Name ').on("change", populate);

    </script>
}