@model SfDesk.Models.Item
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<div class="card-body">
    <div class="custom-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">General</a></li>
            <li id="AP" role="presentation"><a href="#ta2" aria-controls="ta2" role="tab" data-toggle="tab">Assembly Product</a></li>

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="1">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <div class="form-group col-md-2">
                                <div class="col-sm-1">
                                    @Html.RadioButton("Product", true)
                                    @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Product", htmlAttributes: new { @class = "control-label col-sm-11", @style = " padding-top: 0;  text-align:left" })
                            </div>
                            <div class="form-group col-md-2">
                                <div class="col-sm-1">
                                    @Html.RadioButton("Product", false)
                                    @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Services", htmlAttributes: new { @class = "control-label col-sm-11", @style = " padding-top: 0;  text-align:left" })
                            </div>

                        </div>
                        <div class="col-md-12">


                            <div class="form-group col-md-3">
                                @Html.Label("Main Category", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                                <div class="col-sm-8">
                                    @Html.Hidden("Main_Cat_ID")
                                    <input type="text" name="Main_Cat_Name" list="Main_Cat_List" id="Main_Cat_Name" class="form-control text-box">
                                    <datalist id="Main_Cat_List">

                                        @foreach (var item in ViewBag.Cat)
                                        {
                                            <option id="@item.ICM_ID" data-id="@item.ICM_ID" value="@item.ICM_Name"></option>
                                        }
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group col-md-3">

                                @Html.LabelFor(model => model.Cat_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.DropDownListFor(model => model.Cat_ID, new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Cat_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(x => x.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Item_Name, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                @Html.Label("Unit Of Measure", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(x => x.Unit, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Unit, "", new { @class = "text-danger" })
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <div class="col-sm-1">
                                    @*@Html.CheckBoxFor(x => x.is_Fractional_Unit)*@
                                    <input type="checkbox" name="is_Fractional_Unit" value="true" />
                                    @*@Html.CheckBoxFor(x => x.is_Fractional_Unit, new
                                    {
                                        htmlAttributes = new { @class = "form-control" } })*@
                                </div>

                                @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0px; text-align:left" })
                            </div>
                            <div class="col-lg-12"></div>
                            <div class="form-group col-md-6">
                                <div class="col-sm-1">
                                    <input type="checkbox" name="is_Item_Qty_Cal" value="true" />
                                    @Html.ValidationMessageFor(x => x.is_Item_Qty_Cal, "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0;  text-align:left" })
                            </div>

                        </div>
                        <div class="col-md-12">
                            <hr />
                            <div class="form-group col-md-6">
                                <div class="col-sm-1">
                                    <input type="checkbox" name="is_Inventory_Track" value="true" />
                                    @Html.ValidationMessageFor(x => x.is_Inventory_Track, "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Track Inventory", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0px; text-align:left" })
                            </div>
                            <div class="col-lg-12"></div>
                            <div class="form-group col-md-6">
                                <div class="col-sm-1">
                                    <input type="checkbox" name="is_Manage_Batch_Product" value="true" />
                                    @Html.ValidationMessageFor(x => x.is_Manage_Batch_Product, "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you manage Batch Product for this Product?", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0;  text-align:left" })
                            </div>

                        </div>
                        <div class="col-md-12">
                            <hr />
                            <div class="form-group col-md-6">
                                @Html.Label("Minimum Stock Level", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(x => x.Min_Stock, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Min_Stock, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("COA", htmlAttributes: new { @class = "control-label col-sm-2", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(x=>x.COA_ID)
                                    <input type="text" name="COA_Name" list="COA_List" id="COA_Name" class="form-control text-box">
                                    <datalist id="COA_List">

                                        @foreach (var item in ViewBag.COA)
                                        {
                                            <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                        }
                                    </datalist>


                                    @Html.ValidationMessage("Unit", "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <input type="checkbox" id="isPurchase"> Do you purchase this product? <br />

                        </div>
                        <div class="col-md-12" id="Purchase">

                            <hr />
                            <div class="form-group col-md-6">
                                @Html.Label("Purchase Price", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(x => x.Purchase.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Purchase.Price, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("Purchase Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    <input id="Purchase.Account_ID" name="Purchase.Account_ID" type="hidden" >
                                    <input type="text" name="Purchase.Account_Name" list="Purchase.Account_List" id="Purchase.Account_Name" class="form-control text-box">
                                    <datalist id="Purchase.Account_List">
                                        @foreach (var item in ViewBag.COA)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                        }
                                    </datalist>
                                    @Html.ValidationMessageFor(x => x.Purchase.Account_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("Purchase Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(x => x.Purchase.Discount_Account_ID)
                                    <input type="text" name="Purchase.Discount_Account_Name" list="Purchase.Discount_Account_List" id="Purchase.Discount_Account_Name" class="form-control text-box">
                                    <datalist id="Purchase.Discount_Account_List">

                                        @foreach (var item in ViewBag.COA)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                        }
                                    </datalist>
                                    @Html.ValidationMessageFor(x => x.Purchase.Discount_Account_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("TAX", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(Model => Model.Purchase.Tax_ID)
                                    <input type="text" name="Purchase.Tax_Name" list="Purchase.Tax_List" id="Purchase.Tax_Name" class="form-control text-box">
                                    <datalist id="Purchase.Tax_List">

                                        @foreach (var item in ViewBag.Tax)
                {
                                            <option id="@item.SalesTax_ID" data-id="@item.SalesTax_ID" value="@item.SalesTax_Name"></option>
                                        }
                                    </datalist>

                                    @Html.ValidationMessageFor(model => model.Purchase.Tax_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="isSale"> Do you purchase this Sale? <br />

                        </div>
                        <div class="col-md-12" id="Sale">
                            <hr />
                            <div class="form-group col-md-6">
                                @Html.Label("Sale Price", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(x => x.Sale.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Sale.Price, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("Sale Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(x => x.Sale.Account_ID)
                                    <input type="text" name="Sale.Account_Name" list="Sale.Account_List" id="Sale.Account_Name" class="form-control text-box">
                                    <datalist id="Sale.Account_List">
                                        @foreach (var item in ViewBag.COA)
                                        {
                                            <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                        }
                                    </datalist>
                                    @Html.ValidationMessageFor(x => x.Sale.Account_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("Sale Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(x => x.Sale.Discount_Account_ID)
                                    <input type="text" name="Sale.Discount_Account_Name" list="Sale.Discount_Account_List" id="Sale.Discount_Account_Name" class="form-control text-box">
                                    <datalist id="Sale.Discount_Account_List">

                                        @foreach (var item in ViewBag.COA)
                                        {
                                            <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                        }
                                    </datalist>
                                    @Html.ValidationMessageFor(x => x.Sale.Discount_Account_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("TAX", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(Model => Model.Sale.Tax_ID)
                                    <input type="text" name="Sale.Tax_Name" list="Sale.Tax_List" id="Sale.Tax_Name" class="form-control text-box">
                                    <datalist id="Sale.Tax_List">

                                        @foreach (var item in ViewBag.Tax)
                {
                                            <option id="@item.SalesTax_ID" data-id="@item.SalesTax_ID" value="@item.SalesTax_Name"></option>
                                        }
                                    </datalist>

                                    @Html.ValidationMessageFor(model => model.Sale.Tax_ID, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="padding:15px">
                                <br />
                                <input type="button" id="create" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                                            }

            </div>
            <div role="tabpanel" class="tab-pane" id="ta2">

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/jsgrid.min.js"></script>
    <script src="~/assets/js/TypableDropdown.js"></script>
    <script src="~/assets/js/db.js"></script>
    <script>

        var outputs = []
        function detail() {
            $.get('@Url.Action("Add_Product_Assembly")', function (data) { $("#ta2").html(data); });

        }
        var isAssembled = false;
        $(document).ready(function () {
            $('#Main_Cat_Name').on("change", populate);
            Typable_Dropdown('COA');
            Typable_Dropdown('Cat');
            Typable_Dropdown('Purchase\\.Account');
            Typable_Dropdown('Purchase\\.Discount_Account');
            Typable_Dropdown('Purchase\\.Tax');
            Typable_Dropdown('Sale\\.Account');
            Typable_Dropdown('Sale\\.Discount_Account');
            Typable_Dropdown('Sale\\.Tax');
          

           

            $("#Sale").hide('slow');
            $("#Purchase").hide('slow');
            $("#AP").hide('slow');
            $('#isSale').change(function () {


                $("#Sale").toggle('slow')

            });
            $('#isPurchase').change(function () {
                $("#Purchase").toggle('slow')
            });
            $('#Main_Cat_Name').change(function () {
                if (this.value == 'Finish Good') {
                    isAssembled = true
                }
                else {
                    $("#AP").hide('slow');
                    isAssembled = false
                }``
            });


        });
        $("#create").click(function (e) {
            e.preventDefault();
            
            var data = {};
            $('form').serializeArray().map(function (x) { data[x.name] = x.value; });
            debugger
            //data.Q_Details = arr;
            //data.Q_Charges = mytrans;
            //data.Q_Taxs = Mytax;
            //data.Total = grand_total;
            $.ajax({
                url: '@Url.Action("AddProduct")',
                type: 'Post',
                dataType: 'json',
                data: {
                    i: data
                },
                success: function (data) {
                    debugger;
                    //window.location.href = '//Url.Action("ShowAll", "Quotation")';
                        if (isAssembled) {
                            $("#AP").show('slow');
                            outputs = [{ "Item_ID": data, "Description": "", "Quantity": 1 }];

                            detail(); 
                            //outputs.push({name,"",1}]);
                            $('a[href="#ta2"]').click();
                        }
                        else
                        {
                            window.location.href = '@Url.Action("Index", "Product")';
                        }
                    }

            });
        });

        function populate() {
            debugger;
            var value = $('#Main_Cat_Name').val();
            var name = "#Main_Cat_List";
            name = name + " option[value='" + value + "']";
            value = $(name).data('id');
            $('#Main_Cat_ID').val(value);
            id = $('#Main_Cat_ID').val()

            $.ajax({
                url: '/Product/Category_Get_By_Main_Cat',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (d) {
                    debugger;
                    var ddlState = $('#Cat_ID');
                    ddlState.empty();
                    $("#Cat_ID").prepend("<option value='' ></option>");// Clear the please wait
                    $.each(d, function (i, states) {

                        if ($('#Cat_ID').val() == states.Cat_ID) {

                            ddlState.append($("<option selected='selected'></option>").val(states.V_ID).html(states.Cat_Name));
                        }
                        else {
                            ddlState.append($("<option></option>").val(states.Cat_ID).html(states.Cat_Name));
                        }
                    });
                }
            });
        }

   
    </script>
}