@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}
<div class="card alert">
    <div class="card-header">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="form-group col-md-2">
                            <div class="col-sm-1">
                                @Html.RadioButton("Product", true)
                                @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Product", htmlAttributes: new { @class = "control-label col-sm-11", @style = " padding-top: 0;  text-align:left" })
                        </div>
                        <div class="form-group col-md-2">
                            <div class="col-sm-1">
                                @Html.RadioButton("Product", false)
                                @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Services", htmlAttributes: new { @class = "control-label col-sm-11", @style = " padding-top: 0;  text-align:left" })
                        </div>
                        <div class="form-group col-md-2">
                            <div class="col-sm-1">
                                @Html.RadioButton("Product", false)
                                @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Product Assembly", htmlAttributes: new { @class = "control-label col-sm-11", @style = " padding-top: 0;  text-align:left" })
                        </div>
                       
                    </div>
   
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            @Html.Label("Product", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                            <div class="col-sm-8">
                                @Html.Editor("Product", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                @Html.Editor("Product Name", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Product Name", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label("Unit Of Measure", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                @Html.Editor("Unit", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Unit", "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <div class="col-sm-1">
                                @Html.CheckBox("fractional units", false)
                                @Html.ValidationMessage("fractional units", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0px; text-align:left" })
                        </div>
                        <div class="col-lg-12"></div>
                        <div class="form-group col-md-6">
                            <div class="col-sm-1">
                                @Html.CheckBox("calculate product quantity", false)
                                @Html.ValidationMessage("calculate product quantity", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0;  text-align:left" })
                        </div>

                    </div>
                    <div class="col-md-12">
                        <hr />
                        <div class="form-group col-md-6">
                            <div class="col-sm-1">
                                @Html.CheckBox("fractional units", false)
                                @Html.ValidationMessage("fractional units", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Track Inventory"	, htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0px; text-align:left" })
                        </div>
                        <div class="col-lg-12"></div>
                        <div class="form-group col-md-6">
                            <div class="col-sm-1">
                                @Html.CheckBox("calculate product quantity", false)
                                @Html.ValidationMessage("calculate product quantity", "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("Do you sell or purchase in fractional units? (e.g. 0.5 kg, 2.25 lt, etc.)", "Do you manage Batch Product for this Product?", htmlAttributes: new { @class = "col-sm-11", @style = " padding: 0;  text-align:left" })
                        </div>

                    </div>
                    <div class="col-md-12">
                        <hr />
                        <div class="form-group col-md-6">
                            @Html.Label("Minimum Stock Level", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                            <div class="col-sm-8">
                                @Html.Editor("Stock_level", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Product", "", new { @class = "text-danger" })
                            </div>

                        </div>
      
                        <div class="form-group col-md-6">
                            @Html.Label("COA", htmlAttributes: new { @class = "control-label col-sm-2", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        var ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
                          

                                @Html.ValidationMessage("Unit", "", new { @class = "text-danger" })
                            </div>

                        </div>
                       
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <div class="form-group col-md-6">
                            @Html.Label("Purchase Price", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                            <div class="col-sm-8">
                                @Html.Editor("Purchase Price", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Purchase Price", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Purchase Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
 @Html.ValidationMessage("Purchase Discount Account", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Purchase Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
                                   @Html.ValidationMessage("Purchase Discount Account", "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            @Html.Label("TAX", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                @Html.Editor("TAX", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("TAX", "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <div class="form-group col-md-6">
                            @Html.Label("sale Price", htmlAttributes: new { @class = "control-label col-sm-4", @style = " padding: 5px;  text-align:left ;font-weight:bold;" })
                            <div class="col-sm-8">
                                @Html.Editor("sale Price", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("sale Price", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("sale Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>
                                   @Html.ValidationMessage("sale Discount Account", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("sale Discount Account", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                <input type="text" name="Purchase_Account_Name" list="Purchase_Account_List" id="Purchase_Account_Name" class="form-control text-box">
                                <datalist id="Purchase_Account_List">
                                    @{
                                        ab = (List<SfDesk.Models.ChartOfAccount>)Session["COA"];
                                        ab = ab.FindAll(x => x.Group_ID == 2 || x.Group_ID == 5 || x.Group_ID == 4 || x.Group_ID == 24);
                                    }

                                    @foreach (var item in ab)
                                    {
                                        <option id="@item.COA_ID" data-id="@item.COA_ID" value="@item.COA_Name">@item.Type_Name-@item.Code</option>
                                    }
                                </datalist>   @Html.ValidationMessage("sale Discount Account", "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            @Html.Label("TAX", htmlAttributes: new { @class = "control-label col-sm-4", @style = "font-weight:bold; padding: 5px;  text-align:left" })
                            <div class="col-sm-8">
                                @Html.Editor("TAX", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("TAX", "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-9">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
</div></div></div>