@model IEnumerable<SfDesk.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <button type="button" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" onclick="Add()"><i class="ti-plus"></i>Create   new </button>
            <div class="bootstrap-data-table-panel">
                <div class="table-responsive">
                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Machine_Ip)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mac_Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.P_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.P_Name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Machine_Ip)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mac_Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.P_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.P_Name)
                                    </td>
                                    <td>
                                        <button type="button" class="btn mini btn-info" onclick="Edit(@item.P_ID)" })'"><i class="ti-pencil"></i> </button>
                                        <button type="button" class="btn mini btn-danger" onclick="ConfirmDelete(@item.P_ID)" })'"><i class="ti-trash"></i> </button>
   </td>
                                </tr>
                            }

                   
                    </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="float:right">
        <div class="modal-content col-lg-8" style="float:initial; align-content:center">
            <div id='myModalContent'>

            </div>
        </div>
    </div>

</div>



@section scripts {
    <script>
        function Edit(id) {
            $.get('@Url.Action("Edit", "Product")', { id: id }, function (data) { $("#myModalContent").html(data); });

            $('#myModal').modal('show');
        };
        function Add() {
            $.get('@Url.Action("Add", "Product")', function (data) { $("#myModalContent").html(data); });

            $('#myModal').modal('show');
        };

        function ConfirmDelete(id){
            swal({
                title: "Are you sure to delete ?",
                text: "You will not be able to recover this imaginary file !!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it !!",
                closeOnConfirm: false
            },
                  function () {
                      $.get('@Url.Action("delete", "Product")', { id: id },function () { document.location = '/Product/index'; })
                      swal("Deleted !!", "Hey, your Product has been deleted !!", "success");
                });

       };

    </script>
}
