@model IEnumerable<SfDesk.Models.Form>



    @if (Session["ID"] != null)
    {
        <li class="label">Main</li>

        foreach (var l1 in Model.Where(x => x.Parent_ID == 0))
        {


            var sub = Model.Where(x => x.Parent_ID == l1.Form_ID);
            Session["isMenuCreated"] = true;


            <li>
                <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>@l1.Text<span class="badge badge-primary">28</span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                @if (sub.Count() != 0)
                {
                    <ul>
                        @foreach (var l2 in sub)
                        {
                            var sub_sub = Model.Where(x => x.Parent_ID == l2.Form_ID);

                            <li>
                                <a href="@Url.Action(l2.RedirectAction, l2.RedirectController)">@l2.Text</a>

                                @if (sub_sub.Count() != 0)
                            {

                                    <ul>
                                        @foreach (var l3 in sub_sub)
                                        {
                                            <li>
                                                <a href="@Url.Action(l3.RedirectAction, l3.RedirectController)">@l3.Text</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>

        }

    }
