@model SfDesk.Models.P_Indent
@{
    Layout = "~/Views/Shared/_dashLayout.cshtml";
    ViewBag.Title = "Master";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card alert">

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Purchase Indend</h4>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Select Category", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PI_Item_Cat_ID, new SelectList(new SfDesk.Models.Item_Category().Item_Category_Get_All(), "IC_ID", "IC_Name"),"", new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                            @Html.DisplayName("PR No")
                                        </th>
                                        <th>
                                            @Html.DisplayName("PR Date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Department")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Item")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Quantity")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="PR_Detail_tbl">
                                    @* <tr class="modules">*@

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-rounded m-b-10 m-l-5">
                                SAVE
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>


@section scripts
{
    <script>
        $('#PI_Item_Cat_ID').change(function () {
            var id = $('#PI_Item_Cat_ID').val();
            $.ajax({
                url: '/PurchaseIndend/Get_PI_Detail',
                type: 'GET',
                dataType: 'json',
                data: { Cat_ID: id },
                success: function (details) {
                    var tbl = $('#PR_Detail_tbl');
                    debugger;

                    tbl.html("");
                    $.each(details, function (index, item) {
                        debugger;
                        var a = "<tr>" +
                            "<td>" +
                            "<input type='hidden'  id='PI_Details[" + index + "].PR_D_ID' name='PI_Details[" + index + "].PR_D_ID' value='" + item.PR_D_ID + "' />" +
                            "<input type='hidden'  id='PI_Details[" + index + "].PI_ID' name='PI_Details[" + index + "].PI_ID' value='" + item.PI_ID + "' />" +
                            "<input type='hidden'  id='PI_Details[" + index + "].Item_ID' name='PI_Details[" + index + "].Item_ID' value='"+item.Item_ID+"' />" +
                            "<input  type='checkbox' id='PI_Details[" + index + "].is_Selected' name='PI_Details[" + index + "].is_Selected' value='true'/> " +
                             "<input type='hidden' value='false'  name='PI_Details[" + index + "].is_Selected' /> </td>"+
                        "<td>" +
                            item.PR_No +
                            "<input type='hidden'  id='PI_Details[" + index + "].PR_No' name='PI_Details[" + index + "].PR_No' value='" + item.PR_No + "' />" +
                        "</td> <td>" +
                        item.PR_Date +
                            "<input type='hidden'  id='PI_Details[" + index + "].PR_Date' name='PI_Details[" + index + "].PR_Date' value='" + item.PR_Date + "' />" +

                        "</td> <td>" +
                        item.Department_Name +
                            "<input type='hidden'  id='PI_Details[" + index + "].Department_Name' name='PI_Details[" + index + "].Department_Name' value='" + item.Department_Name + "' />" +
                        "</td> <td>" +
                        item.Item_Name +
                            "<input type='hidden'  id='PI_Details[" + index + "].Item_Name' name='PI_Details[" + index + "].Item_Name' value='" + item.Item_Name + "' />" +
                        "</td> <td>" +
                        item.Quantity +
                            "<input type='hidden'  id='PI_Details[" + index + "].Quantity' name='PI_Details[" + index + "].Quantity' value='" + item.Quantity + "' />" +
                        "</td>" +
                            +"</tr>"
                        tbl.append(a);
                    });
                }
            });

        })
    </script>
}