


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>

    <link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->

    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />




    <link href="~/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/assets/css/lib/unix.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet" />

</head>
@{

    int a = 0;
}
<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul id="menu">
                  
                  
                    @*<li class="active">
                        <a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="index-v1.html">Dashboard 2</a></li>

                            <li><a href="index-school.html">Dashboard 3</a></li>
                            <li><a href="index-restaurant.html">Dashboard 4</a></li>
                        </ul>

                        }
                    </li>*@
                   

                    @*@if (Session["ID"] != null )
                    {

                        var lst = new SfDesk.Models.Form().Get_All_Menu();

                        foreach (var l1 in lst.Where(x => x.Parent_ID == 0))
                        {
                            var sub = lst.Where(x => x.Parent_ID == l1.Form_ID);
                            Session["isMenuCreated"] = true;
                            <li>
                                <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>@l1.Text<span class="badge badge-primary">28</span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                @if (sub.Count() != 0)
                                {
                                    <ul>
                                        @foreach (var l2 in sub)
                                        {
                                            var sub_sub = lst.Where(x => x.Parent_ID == l2.Form_ID);

                                            <li>
                                                <a href="@Url.Action(l2.RedirectAction, l2.RedirectController)">@l2.Text</a>
                                 
                                                @if (sub_sub.Count() != 0)
                                                {
                                                    <ul>
                                                        @foreach (var l3 in sub_sub)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action(l3.RedirectAction, l3.RedirectController)">@l3.Text</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        }

                    }*@
                   
                   
                   
                   
                    @*var lst = new SfDesk.Models.User_Role() { U_ID = ((SfDesk.Models.user)Session["ID"]).U_Id }.User_Role_Get_By_U_ID();
                        var modules = lst.Select(x => x.M_Name).Distinct().ToList();
                        foreach (var item in modules)
                        {
                            var forms = lst.FindAll(x => x.M_Name == item).Select(x => x.F_Name).Distinct().ToList();

                                <li>
                                    <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>@item<span class="badge badge-primary">28</span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                    <ul>

                                        @for(int i=0;i<forms.Count;i++)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", forms[i])">@forms[i]</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }*@


                    @*<li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>SF DESK <span class="badge badge-primary">28</span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "User")">User</a>
                                </li>
                                <li><a href="@Url.Action("Index", "Company")">Company</a></li>
                                <li><a href="@Url.Action("Index", "Role")">Role</a></li>
                                <li><a href="@Url.Action("Create", "Role")">Role Detail</a></li>
                                <li><a href="@Url.Action("User_Role", "user")">User Right</a></li>
                                <li><a href="school-all-student-table.html">Students Table</a></li>
                                <li><a href="school-student-search.html">search</a></li>
                                <li><a href="school-teacher-information.html">Teacher Info</a></li>
                                <li><a href="school-student-profile.html">Teacher Details</a></li>
                                <li><a href="school-all-teacher-table.html">Teacher Table</a></li>
                                <li><a href="school-class-information.html">Class Info</a></li>
                                <li><a href="school-subject.html">Subject</a></li>
                                <li><a href="school-class-routine.html">Routine</a></li>
                                <li><a href="school-attendace-sheet.html">Attendance</a></li>
                                <li><a href="school-grade-list.html">Exam Result</a></li>
                                <li><a href="school-new-exam.html">Exam Schedule</a></li>
                                <li><a href="school-account-setting.html">Setting</a></li>
                                <li><a href="school-student-fees-collection.html">Collection Fees</a></li>
                                <li><a href="school-payment-information.html">Payment info</a></li>
                                <li><a href="school-add-new-expenses.html">New Expense</a></li>
                                <li><a href="school-all-expense-list.html">Expense</a></li>
                                <li><a href="school-attendace-sheet.html">Attendance</a></li>
                                <li><a href="school-book-information.html">Book Info</a></li>
                                <li><a href="school-book-list.html">Book List</a></li>
                                <li><a href="school-all-parents-list.html">Parents List</a></li>
                                <li><a href="school-parents.html">Parents</a></li>
                                <li><a href="school-form.html">Form</a></li>
                                <li><a href="school-notice.html">Notice</a></li>
                                <li><a href="school-transport.html">Transport</a></li>
                            </ul>
                        </li>*@
                 
                </ul>

            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="pull-left">
            <div class="logo"><a href="index.html"> @*<img src="~/assets/images/logo.png" alt="" style="height :40px" />*@ <span>Sf - DESK</span></a></div>
            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>

                <li class="header-icon dib">
                    <i class="ti-bell"></i>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Recent Notifications</span>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">
                                                @((SfDesk.Models.user)Session["ID"]).U_Id
                                            </div>
                                            <div class="notification-text">5 members joined today </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Mariam</div>
                                            <div class="notification-text">likes a photo of you</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Tasnim</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Ishrat Jahan</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib">
                    <i class="ti-email"></i>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">2 New Messages</span>
                            <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/1.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Saiul Islam</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Ishrat Jahan</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Saiul Islam</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="~/assets/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Ishrat Jahan</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib">
                    <img class="avatar-img" src="~/assets/images/avatar/1.jpg" alt="" /> <span class="user-avatar"> USER ID  @*@(((SfDesk.Models.user)Session["ID"]).CompanyName)*@ <i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Upgrade Now</span>
                            <p class="trial-day">30 Days Trail</p>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="ti-user"></i> <span>Profile</span></a></li>
                                <li><a href="#"><i class="ti-wallet"></i> <span>My Balance</span></a></li>
                                <li><a href="#"><i class="ti-write"></i> <span>My Task</span></a></li>
                                <li><a href="#"><i class="ti-calendar"></i> <span>My Calender</span></a></li>
                                <li><a href="#"><i class="ti-email"></i> <span>Inbox</span></a></li>
                                <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>
                                <li><a href="#"><i class="ti-help-alt"></i> <span>Help</span></a></li>
                                <li><a href="#"><i class="ti-lock"></i> <span>Lock Screen</span></a></li>
                                <li><a href="@Url.Action("Logout","LoginUser")"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <br /><br />
                <!-- /# row -->
                <section id="main-content">

                    @RenderBody()

                    <!-- /# column -->
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>SFDESK 	&copy; CopyRight Reserve</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


    <!-- jquery vendor -->
    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <script src="~/assets/js/lib/bootstrap.min.js"></script>






    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables-init.js"></script>
    <script src="~/assets/js/lib/sweetalert/sweetalert.min.js"></script>
    <script>
       
        $(function () {
            try{

                $.get('@Url.Action("generate_Menu", "form",new { id= ((SfDesk.Models.user)Session["ID"]).U_Id })', function (data) { $("#menu").html(data); });
            }
            catch(err)
            {

            }
        })  
            
     
      
    </script> 
            @RenderSection("scripts", required: false)
</body>
</html>

